[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manav8913
[access "refs/for/refs/*"]
	read = group user/manav8913
	push = group user/manav8913
	label-Code-Review = -2..+2 group user/manav8913
	label-Verified = -1..+1 group user/manav8913
	rebase = group user/manav8913
	removeReviewer = group user/manav8913
	submit = group user/manav8913
[access "refs/heads/*"]
	read = group user/manav8913
	create = group user/manav8913
	push = +force group user/manav8913
	pushMerge = group user/manav8913
[access "refs/tags/*"]
	push = group user/manav8913
	push = +force group user/manav8913
